---
import Footer from "../page/Footer.astro";
import Header from "../page/Header.astro";
import Settings from "../../settings.json";

import "../../styles/index.css";
import Page from "./Page.astro";

interface Props {
  title: string;
  area?: string;
}

const { title, area } = Astro.props;
---

<Page
  title={title + " | " + Settings.name}
  area={area}
  className="work:bg-gray-800"
>
  <Header area={area} />
  <div class="min-h-screen">
    <slot />
  </div>
  <Footer />
</Page>
