---
import Base from "../layouts/Base.astro";

interface Props {
  title: string;
  area?: string;
}

const { title, area } = Astro.props;
---

<Base title={title} area={area}>
  <div class="container mx-auto max-w-4xl my-10 px-5">
    <slot />
  </div>
</Base>
