---
import Static from "../components/layouts/Static.astro";
---

<Static title="Impressum">
  <p>Angaben gemäß § 5 TMG</p>
  <p>Leonid Lezner<br />Schlägerstr. 21<br />30171 Hannover</p>
  <p><strong>Vertreten durch</strong><br />Leonid Lezner</p>

  <p>
    <strong>Kontakt</strong><br />E-Mail: hello@leonidlezner.de<br />Telefon:
    (0511) 86084385
  </p>
</Static>
