---
import Page from "../components/layouts/Page.astro";
import Settings from "../settings.json";
import {
  filterAndSortPosts,
  getArea,
  updatePostData,
} from "../utils/postsUtils";
import SmallList from "../components/SmallList.astro";
import Header from "../components/page/Header.astro";

const posts: Record<string, any>[] = await Astro.glob("../posts/**/*.{md,mdx}");

let postsPerArea: Record<string, any[]> = {};

filterAndSortPosts(posts).forEach((post) => {
  const area: string = getArea(post.file);

  post = updatePostData(post, area);

  if (postsPerArea[area] == undefined) {
    postsPerArea[area] = [];
  }

  postsPerArea[area].push(post);
});
---

<Page title={Settings.name}>
  <div class="sm:flex sm:min-h-screen overflow-hidden">
    <div class="work bg-gray-800 sm:w-1/2 flex">
      <div class="flex-1">
        <Header area="work" showSwitch={false} name="Leonid.at/Work" />
        <div class="p-5 sm:p-10">
          <SmallList posts={postsPerArea["work"]} />
        </div>
      </div>
    </div>
    <div class="sm:w-1/2 flex">
      <div class="flex-1">
        <Header area="home" showSwitch={false} name="Leonid.at/Home" />
        <div class="p-5 sm:p-10">
          <SmallList posts={postsPerArea["home"]} />
        </div>
      </div>
    </div>
  </div>
</Page>
