---
import Settings from "../settings.json";

interface Props {
  categories: string[];
  area?: string;
}

const { categories, area } = Astro.props;
---

<div>
  <h2 class="text-xl font-semibold mb-5 work:text-gray-400">Kategorien</h2>

  <ul class="space-y-2">
    {
      categories.map((category) => (
        <li>
          <a
            href={"/" + area + "/category/" + category}
            class="border-b-2 border-prime work:border-second -mb-[2px] hover:bg-prime hover:work:bg-second hover:work:text-gray-800 work:text-gray-300"
          >
            {Settings.categories[
              category as keyof typeof Settings.categories
            ] ?? category}
          </a>
        </li>
      ))
    }
  </ul>
</div>
