---
import ChevronRight from "astro-heroicons/solid/ChevronRight.astro";

interface Props {
  url: string;
}

const { url } = Astro.props;
---

<div
  class="absolute bottom-1 pt-16 w-full text-center bg-gradient-to-b from-transparent to-white work:to-gray-800 z-10"
>
  <a
    href={url}
    class="px-16 py-2 bg-white work:bg-gray-800 work:text-gray-300 border border-prime work:border-second hover:bg-prime rounded-full shadow-md inline-flex space-x-3 hover:work:bg-second hover:work:text-gray-800"
  >
    <>
      <div>Weiterlesen</div>
      <ChevronRight class="w-5" />
    </>
  </a>
</div>
