---
import { getArea, filterAndSortPosts } from "../../utils/postsUtils";

export async function getStaticPaths() {
  const posts: Record<string, any>[] = await Astro.glob(
    "../../posts/**/*.{md,mdx}"
  );

  return filterAndSortPosts(posts).map((post) => {
    const area: string = getArea(post.file);

    return {
      params: {
        area: area,
        slug: post.frontmatter.slug,
      },
      props: { post: post },
    };
  });
}

interface Props {
  posts: Record<string, any>[];
}

const { area } = Astro.params;
const { post } = Astro.props;
---

<h1>
  {post.frontmatter.title}
</h1>
